
        <h2>Your Inbox</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Sender</th>
        <th>receiver</th>
        <th>Subject</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
        {{#each data}}
      <tr>
       <td>{{this.sender}}</td>
       <td>{{this.receiver}}</td>
       <td>{{this.subject}}</td>
       <td>{{this.message}}</td>
       <td><a href="/delete?empid={{this.mid}}"
    onClick="return confirm('Deleted')"
        class="glyphicon glyphicon-trash"></a></td
      </tr>
      {{/each}}
    </tbody>
  </table>
