<h2>Sent mails</h2>
         {{#if msg}}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{msg}}</strong>
        </div>
        {{/if}}

  <table class="table">
    <thead>
      <tr>
        <th>Sender</th>
        <th>receiver</th>
        <th>Subject</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
        {{#each data}}
      <tr>
       <td>{{this.sender}}</td>
       <td>{{this.receiver}}</td>
       <td>{{this.subject}}</td>
       <td>{{this.message}}</td>
        <td><a href="/update?empid={{this.mid}}"
        class="glyphicon glyphicon-edit"></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
