
    <h2>Compose Mail</h2>


{{#each data}}
  <form action="/updatedata?empid={{this.mid}}" method="POST">
  
   <div class="form-group">
      <label>From</label>
      <input type="email" class="form-control" id="mailid" placeholder="Enter Receivers email Id" name="email" value={{this.sender}} readonly>
    </div>
    <div class="form-group">
      <label>To</label>
      <input type="email" class="form-control" id="mailid" placeholder="Enter Receivers email Id" name="remail" value={{this.receiver}} readonly>
    </div>

    <div class="form-group">
      <label>Subject</label>
      <input type="text" class="form-control" id="subject" placeholder="Enter Subject" name="subject" value={{this.subject}}>
    </div>
    
    <div class="form-group">
      <textarea cols="50" rows="8" placeholder="Message" name="message">{{this.message}}</textarea>
    </div>
    
    <button type="submit" class="btn btn-primary" >update</button>
  </form>
  {{/each}}
